<div class="player-container">
  <div *ngFor="let player of _playHandler.state.players">
    <div *ngIf="!_playHandler.isCurrentPlayer(player.username)">
      <app-avatar></app-avatar>
      {{player.username}}
      <app-poker-card *ngIf="player.currentCard" [card]="player.currentCard"></app-poker-card>
    </div>
  </div>
</div>
<div class="card-container">
  <div *ngFor="let card of _cardDeck">
    <app-poker-card [card]="card" (click)="_playHandler.submitEstimate(card)"></app-poker-card>
  </div>
</div>

<div *ngIf="_playHandler.showNewDealButton">
  <button type="submit" md-raised-button i18n>
    New Deal
  </button>
</div>
