<div class="container-fluid" style="width:50%;">
                <div>
                    <form>
                        <div class="panel-body" >
                        <div class="form-group" >
                        <div class="panel panel-info">
                        <div class="panel-heading">Join A Game</div>
                        <div class="panel-body">
                          <ul class="list-group">
                              <li class="list-group-item list-group-item-primary"><label>Game ID</label>
                               <input class="form-control input-sm" [(ngModel)]="joinId" name="joinId" placeholder="Enter Game ID">
                              </li>
                              <li class="list-group-item list-group-item-primary"><label>Your Name</label>
                                <input class="form-control input-sm" [(ngModel)]="yname" name="yname" placeholder="Enter Your Name">
                               </li>
                              <li class="list-group-item list-group-item-info">
                                <button type="button" class="btn btn-info" (click)= "join($event)">Join</button>
                              </li>
                          </ul>
                        </div>
                        </div>
                        </div>
                        </div>
                        </form>
                </div> 
 </div>








<div id="xyz" class=" container-fluid" style="width:100%;" class="toggle-panel">
    <div class="container-fluid" style="width:100%;">
        <button type="button" id="x" class="x btn btn-info btn-lg" (click)="a($event)" style="height:15vw;width:9vw;text-align:center;margin:1vw;"><h1 style="color:white">0</h1></button>
        <button type="button" class="x btn btn-info btn-lg" (click)="b($event)" style="height:15vw;width:9vw;text-align:center;margin:1vw;"><h1 style="color:white">1</h1></button>
        <button type="button" class="x btn btn-info btn-lg" (click)="c($event)" style="height:15vw;width:9vw;text-align:center;margin:1vw;"><h1 style="color:white">2</h1></button>
        <button type="button" class="x btn btn-info btn-lg" (click)="d($event)" style="height:15vw;width:9vw;text-align:center;margin:1vw;"><h1 style="color:white">3</h1></button>
        <button type="button" class="x btn btn-info btn-lg" (click)="e($event)" style="height:15vw;width:9vw;text-align:center;margin:1vw;"><h1 style="color:white">5</h1></button>
        <button type="button" class="x btn btn-info btn-lg" (click)="f($event)"style="height:15vw;width:9vw;text-align:center;margin:1vw;"><h1 style="color:white">8</h1></button>
        <button type="button" class="x btn btn-info btn-lg" (click)="g($event)" style="height:15vw;width:9vw;text-align:center;margin:1vw;"><h1 style="color:white">13</h1></button>
    </div>
    <div class="container-fluid" style="padding-left:23%">
        <button type="button" class="x btn btn-info btn-lg" (click)="h($event)" style="height:15vw;width:9vw;text-align:center;margin:1vw;"><h1 style="color:white">21</h1></button>
        <button type="button" class="x btn btn-info btn-lg" (click)="i($event)" style="height:15vw;width:9vw;text-align:center;margin:1vw;"><h1 style="color:white">34</h1></button>
        <button type="button" class="x btn btn-info btn-lg" (click)="j($event)" style="height:15vw;width:9vw;text-align:center;margin:1vw;"><h1 style="color:white">55</h1></button>
        <button type="button" class="x btn btn-info btn-lg" (click)="k($event)" style="height:15vw;width:9vw;text-align:center;margin:1vw;"><h1 style="color:white">89</h1></button>
    </div>
</div>

 