:host {

  width: 100%;

  display: flex;
  flex: 1;

  background: url('../../../../../assets/images/poker-bg.jpg') no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;

  md-card {

    width: 350px;
    height: 200px;

    margin: 100px auto 0 auto;
    text-align: center;

    app-avatar {
      margin: 25px auto 0 auto;
    }

  }

}
